USE [master]
GO
/****** Object:  Database [Market]    Script Date: 12/28/2025 8:33:54 PM ******/
CREATE DATABASE [Market]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Market', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Market.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Market_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Market_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Market].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Market]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/28/2025 8:33:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](255) NOT NULL,
	[Age] [int] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/28/2025 8:33:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] NULL,
	[Name] [nvarchar](20) NULL,
	[Price] [decimal](18, 0) NULL,
	[Brand] [nvarchar](20) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Fullname], [Age], [Email], [Salary]) VALUES (1, N'Fatima Malikova', 18, N'fmelikova49@mail.com', CAST(1750.45 AS Decimal(10, 2)))
INSERT [dbo].[Employee] ([Id], [Fullname], [Age], [Email], [Salary]) VALUES (2, N'Nigar Ferhadzade', 18, N'fnigar@mail.com', CAST(1100.50 AS Decimal(10, 2)))
INSERT [dbo].[Employee] ([Id], [Fullname], [Age], [Email], [Salary]) VALUES (3, N'Fatima Mecidli', 19, N'fmecidli@mail.com', CAST(1000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[Products] ([Id], [Name], [Price], [Brand]) VALUES (1, N'Milk', CAST(2 AS Decimal(18, 0)), N'Milla')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Brand]) VALUES (2, N'Pasta', CAST(3 AS Decimal(18, 0)), N'Ankara')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Brand]) VALUES (NULL, N'Salt', CAST(1 AS Decimal(18, 0)), N'SaltCo')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D105349FB0FB9D]    Script Date: 12/28/2025 8:33:55 PM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Age]>(0)))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Salary]>=(300) AND [Salary]<=(2000)))
GO
USE [master]
GO
